* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Libre Baskerville', serif;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    padding: 40px;
    text-align: center;
    color: #7D7D7D;
    font-size: 12px;
    ;
}

.footer a {
    text-decoration: none;
    color: cornflowerblue;
}

header img {
    width: 168px;
    height: 48px;
}

#startstop {
    text-transform: uppercase;
    color: #7D7D7D;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.57px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 29px 40px;
    align-items: center;
    border-bottom: 1px solid #E5E5E5;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.column {
    flex-basis: 25%;
    max-width: 25%;
}

.column img {
    padding: 20px;
    width: 100%;
    cursor: pointer;
    transition: opacity 1.5s;
}

.column img:hover {
    opacity: 0.5;
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

.largeimage {
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    padding-top: 86%;
    position: relative;
}

.slideshow {
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.name {
    background-color: white;
    padding: 24px;
    position: absolute;
    bottom: -20px;
    left: 0;
}

#authorphoto {
    position: absolute;
    left: 0;
    bottom: -150px;
}

#year {
    position: absolute;
    right: 0;
    bottom: -200px;
    font-size: 100px;
    color: #F3F3F3;
    font-weight: 700;
}

#nameimage {
    color: #000000;
    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
}

#nameauthor {
    font-size: 15px;
    font-weight: 400;
    margin-top: 8px;
}

.text {
    padding-top: 180px;
    font-size: 14px;
    font-weight: 700;
    color: #7D7D7D;
    line-height: 28px;
}

.view {
    position: absolute;
    top: 16px;
    left: 16px;
    background-color: rgba(0%, 0%, 0%, 0.75);
    padding: 16px;
    color: white;
    letter-spacing: 2.14px;
    text-transform: uppercase;
}

.view img {
    height: 12px;
    width: 12px;
    margin-right: 14px;
}